{% extends "layout.html" %} {% load static %} {% block content %} {% block styles %}
<link rel="stylesheet" href="{% static 'news-block.css' %}">
<div class="detailed-news">

    <img src="https://source.unsplash.com/1200x500/?politics,sports">
    <div class="detail-body">
        <blockquote class="blockquote mb-0">
            <p class="text-paragraph">{{tweet.text}}</p>
            <footer class="blockquote-footer">{{tweet.user}} <cite title="Source Title"></br> Labeled:
                {% if tweet.target == 0 %}
                Negative
                {% elif tweet.target == 2 %}
                NEUTRAL
                {% else %}
                POSTIVE
                {% endif %}
                <br>
                {% if tweet.score %}
                {{tweet.score}}
                {% endif %}
            </cite></footer>
        </blockquote>
    </div>
</div>

{% endblock %} {% endblock %}